---
import BaseHead from '../components/BaseHead.tsx';
import Footer from '../components/Footer.tsx';
import Newsletter from '../components/Newsletter.tsx';
import Header from '../components/Header.tsx';
import Spacer from '../components/Spacer.tsx';

const {title, description, permalink, canonicalURL, excludeNewsletter } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} canonicalURL={canonicalURL} />
  </head>
  <body>
      <div class="max-w-2xl mx-auto">
        <Header />
        <main>
            <slot/>
        </main>

        {!excludeNewsletter && <Newsletter />}
        <Spacer />
        
        <Footer />
        
        <Spacer />
      </div>
  </body>
</html>

