---
import BaseHead from '../components/BaseHead.tsx';
import Footer from '../components/Footer.tsx';
import Newsletter from '../components/Newsletter.tsx';

const {title, description, permalink, canonicalURL } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} canonicalURL={canonicalURL} />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>
  <body>
      <main>
          <slot/>
      </main>

      <Newsletter />
      <Footer />
  </body>
</html>

