/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* I like having a bigger base font size. */
  /* https://github.com/tailwindlabs/tailwindcss/discussions/1611#discussioncomment-6562 */
  font-size: 20px;
}

body {
  @apply text-default bg-defaultBg;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  @apply text-link;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

hr {
  margin: 50px 0;
  border: none;
  border-top: 1px solid gray;
  background: none;
}
em {
  font-weight: 400;
  font-style: italic;
}
strong > em {
  font-weight: 500;
  font-style: italic;
}
pre {
  background-color: #061526 !important;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  overflow-x: auto;
  /* Track */
}

pre::-webkit-scrollbar {
  width: 100%;
  height: 5px;
  border-radius: 0 0 5px 5px;
}
pre::-webkit-scrollbar-track {
  background: #061526;
  border-radius: 0 0 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* Handle */
pre::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: black;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
.highlight-line {
  background-color: rgb(53, 59, 69);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.3em solid #f99;
}
details {
  display: block;
}
summary {
  display: list-item;
}
small {
  color: gray;
}
.contains-task-list {
  /* Don't show bullets for task lists */
  list-style: none;
}

/* Blog post styles - applies to BlogPost.tsx */
#post h1 {
  @apply text-4xl font-bold;
}

#post h2 {
  @apply text-3xl font-bold;
}

#post h3 {
  @apply text-2xl font-bold;
}

#post h4 {
  @apply text-xl font-bold;
}

#post h5 {
  @apply text-lg font-bold;
}

#post h6 {
  @apply text-base font-bold;
}

#post ol {
  @apply list-decimal ml-0 list-inside;
}

#post li {
  @apply mb-2.5 ml-0 pl-0;
}

#post ul {
  @apply list-disc ml-4 my-4 pl-0 list-outside marker:mr-0;
}

#post p {
  @apply mb-6 leading-7;
  overflow-wrap: break-word;
}

#post blockquote {
  @apply pl-4 ml-0 mr-0 italic border-link border-solid border-l-4;
}

#post blockquote p {
  @apply leading-5;
}

#post pre {
  @apply mt-0 mb-4 overflow-auto;
}

#post figure {
  @apply mx-0 mt-0 mb-4;
}

#post img {
  vertical-align: middle;
}

#post caption {
  @apply py-6 bg-defaultBg text-center;
  caption-side: bottom;
}
