/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* I like having a bigger base font size. */
  /* https://github.com/tailwindlabs/tailwindcss/discussions/1611#discussioncomment-6562 */
  font-size: 20px;
}

body {
  background: #000b3b;
  color: #f0c090;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: #a1f090;
}
